<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Post Clone</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="create-post">
  <div class="top">
    <img src="https://i.pravatar.cc/40" class="avatar">
    <input type="text" placeholder="What's on your mind, Nitesh?" />
  </div>
  {% if img_url %}
    <div class="image-preview">
        <img src="{{ img_url }}" alt="Image Preview" />
    </div>
  {% endif %}
  <hr>
  <div class="bottom">

    <form action="/posting" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <button><span>🎥</span> Video</button>
    <button><span>😊</span> Feeling</button>
  </div>
</div>

</body>
</html>
